Apps/CSHARP.Text/bin/
Apps/CSHARP.Text/obj/
UnitTests/UnitTestTextLibraryDotNetCoreConsole/obj/
Apps/CSHARPStandard.Text/obj/Debug/netstandard2.0/CSHARPStandard.Text.AssemblyInfo.cs
Apps/CSHARPStandard.Text/obj/
Apps/CSHARPStandard.Text/bin/
UnitTests/UnitTestTextLibraryDotNetCoreConsole/bin/
Apps/CSHARPStandard.Text.Base64/bin/
Apps/CSHARPStandard.Text.Base64/obj/
Apps/CSHARPStandard.Text.Csv/bin/
Apps/CSHARPStandard.Text.Csv/obj/
v2/.vs/CSHARP.Text/v15/
v2/Apps/.vs/CSHARP.Text/v15/
v2/Apps/CSHARP.Text/obj/
v2/Apps/CSHARPStandard.Text.Base64/obj/
v2/Apps/CSHARPStandard.Text.Csv/obj/
v2/Apps/CSHARPStandard.Text/obj/
v2/UnitTests/UnitTestTextLibraryDotNetCoreConsole/bin/
v2/UnitTests/UnitTestTextLibraryDotNetCoreConsole/obj/
v2/.vs/CSHARP.Text_v2/v15/.suo
v2/Apps/CSHARP.Text/bin/
